// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $white-1) {
    #{$name} {
      background: $color !important;
    }
  }
  
  // Text color utility mixin
  @mixin text-color-variant($name: ".text-primary", $color: $black-1) {
    #{$name} {
      color: $color !important;
    }
  
    a#{$name} {
      &:focus,
      &:hover {
        color: darken($color, 5%);
      }
      &:visited {
        color: lighten($color, 5%);
      }
    }
  }
  