.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3.75rem 10%;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 3.125rem;

    @media screen and (max-width: 768px) {
        padding: 3.75rem 1rem;
        gap: 2.5rem;
    }

    .flex-title {
        display: flex;
        width: 100%;
        gap: 2.5rem;
        align-items: center;
        justify-content: space-between;

        .gradient {
            color: $blue-2;
            font-size: 1.375rem;
            font-weight: 400;
            line-height: 1.5rem;
        }

        .line {
            flex: 1;
            height: 0.125rem;
            background: $blue-2;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        a {
            font-family: var(--font-text);
        }

        .subtitle {
            @media screen and (max-width: 600px) {
                font-size: 0.875rem;
            }

            color: $black-1;
            font-family: var(--font-text);
            font-size: 1.375rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }
}

.brand-header {
    @media screen and (max-width: 640px) {
        padding: 3.75rem 1rem;
        font-size: 2.5rem;
    }

    background: $golden-1;
    color: $blue-1;
    font-family: var(--font-title);
    font-variation-settings: 'wdth'150;
    font-size: 4.125rem;
    font-weight: 500;
    line-height: 107.1%;
    letter-spacing: -0.0825rem;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 3.75rem;

    @media screen and (max-width: 640px) {
        flex-direction: column;
        gap: 2.5rem;
    }

    .item {
        @media screen and (max-width: 640px) {
            max-width: 100%;
            width: 100%;

        }

        max-width: 50%;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        .item-title {
            font-family: var(--font-title);
            color: $blue-2;
            font-size: 1.375rem;
            font-weight: 500;
        }

        .item-img {
            height: 5rem;
            width: auto;
        }

        .big {
            @media screen and (max-width: 640px) {
                width: 70%;
                height: auto;
            }

            @media screen and (max-width: 500px) {
                width: 90%;
                height: auto;
            }

            width: auto;
            height: 14.5rem;

        }

        .flex {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 1.5rem;

            @media screen and (max-width: 1280px) {
                justify-content: center;
            }

            .logo-item {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                @media screen and (max-width: 1440px) {
                    width: 20rem;
                }

                @media screen and (max-width: 1280px) {
                    width: 17rem;
                }

                @media screen and (max-width: 768px) {
                    width: 15rem;
                }


                @media screen and (max-width: 540px) {
                    width: 100%;
                    max-width: 11rem;
                }

                .item-title {

                    @media screen and (max-width: 640px) {
                        font-size: 1rem;
                    }

                    width: 100%;
                    color: $blue-2;
                    font-size: 1.375rem;
                    font-weight: 500;
                    text-align: center;
                }

                .item-content {
                    @media screen and (max-width: 640px) {
                        font-size: .875rem;
                        text-align: center;

                    }

                    color: $black-1;
                    font-size: 1.125rem;
                    font-weight: 300;
                    line-height: 1.5;

                }

                img {
                    width: 100%;
                    height: auto;

                }
            }
        }

        .item-content {
            color: $black-1;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .logodonts {
        width: 100%;
        max-width: 100%;

    }
}

.colors {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(51.18deg, #EECB50 43.1%, #55B8FF 61.1%, #1A16B8 74.09%) 1;

    .wrapper {

        @media screen and (max-width: 640px) {
            gap: 1rem;
            row-gap: 2.5rem;
            justify-content: center;

        }

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 3.125rem;
        column-gap: 1rem;

        .card {
            @media screen and (max-width: 640px) {
                width: 45%;
                min-width: 10rem;
            }

            @media screen and (max-width: 500px) {
                width: 80%;
            }

            display: flex;
            width: 13.75rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-family: var(--font-text);

            .gradient {
                display: block;
                width: 100%;
                height: 9.375rem;
                margin-bottom: 0.5rem;
            }

            .table {
                @media screen and (max-width: 640px) {
                    min-height: 8rem;
                }

                display: flex;
                width: 100%;
                padding: 0 .5rem;
                min-height: 9.2rem;
                box-sizing: border-box;
                align-items: flex-start;
                justify-content: space-between;
                color: $black-1;
                text-align: center;
                font-weight: 300;

                .item-title {
                    @media screen and (max-width: 640px) {
                        font-size: .875rem;
                    }

                    color: $blue-2;
                    text-align: center;
                    font-weight: 400;
                }

                .item-hex {
                    @media screen and (max-width: 640px) {
                        font-size: .875rem;
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .5rem;

                    .flex {
                        display: flex;
                        gap: .5rem;
                        align-items: center;
                    }
                }
            }

            .gradient-content {
                display: flex;
                padding: 0.5rem 1rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                color: $blue-1;

                .button {
                    padding: 0.625rem 1.5rem;
                }
            }

            .color {
                @media screen and (max-width: 640px) {

                    height: 7rem;

                }

                display: block;
                width: 100%;
                height: 9.375rem;
                margin-bottom: 1rem;
            }

            .card-title {
                @media screen and (max-width: 640px) {
                    font-size: 1rem;

                }

                width: 100%;
                color: $blue-2;
                text-align: center;
                font-size: 1.375rem;
                font-weight: 500;
                margin-bottom: 0.25rem;
            }

            .card-content {
                @media screen and (max-width: 640px) {
                    font-size: .875rem;

                }

                width: 100%;
                text-align: center;
                color: $black-1;
                font-size: 1.125rem;
                font-weight: 300;
                line-height: 1.5;
            }

            .code {
                width: 100%;
                display: flex;
                align-items: center;
                gap: .625rem;
                justify-content: center;

                p {
                    color: #747474;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    flex: 1 0 0;
                    overflow: hidden;
                    color: $gray-1;
                    text-overflow: ellipsis;
                    font-size: 0.75rem;
                    font-weight: 300;
                    margin: 0;
                }

                .action {
                    cursor: pointer;
                }

            }
        }
    }

}

.asset {
    @media screen and (max-width: 768px) {
        padding: 3.75rem 1rem;
        align-items: center;

        .title {
            text-align: center;
        }

    }

    .assets-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
            justify-content: center;
            gap: 2rem;
            flex-direction: column;

        }

        .asset-item {
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            display: flex;
            width: 45%;
            padding: 2rem;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            border: 1px solid;
            border-image: linear-gradient(51.18deg, #EECB50 43.1%, #55B8FF 61.1%, #1A16B8 74.09%) 1;

            img {
                @media screen and (max-width: 768px) {
                    width: 100%;
                    max-height: 3.5rem;
                }

                width: auto;
                max-height: 4.5rem;
            }

            .ctx {
                display: flex;
                justify-self: center;
                gap: 1.5rem;
                flex-direction: column;
                align-items: center;

                .ctx-title {
                    color: $blue-1;
                    font-size: 1.375rem;
                    font-weight: 500;
                    line-height: 1.5;
                }

                .flex {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;

                    .secondary {
                        // text-decoration: underline;
                    }

                }
            }


        }
    }
}