.comments {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.75rem 10%;
    box-sizing: border-box;
    gap: 5rem;

    .action-left {
        @media screen and (max-width: 768px) {
            display: none;
        }

        position: absolute;
        cursor: pointer;
        top: 40%;
        transform: translateY(-50%);
        left: 3%;
    }

    .action-right {
        @media screen and (max-width: 768px) {
            display: none;
        }

        position: absolute;
        cursor: pointer;
        top: 40%;
        transform: translateY(-50%) rotate(180deg);
        right: 3%;
    }

    @media screen and (max-width: 960px) {
        padding-top: 0;
        gap: 2.5rem;
    }

    @media screen and (max-width: 768px) {
        padding: 3.75rem 1rem;
        gap: 0;
    }

    .item {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        img {
            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: 80%;
            }       
            width: 45%;
            max-width: 32rem;
            flex: 1;

        }

        .content {
            margin-left: 7.5rem;
            @media screen and (max-width: 1440px) {
                margin-left: 0;
            }
            @media screen and (max-width: 960px) {
                gap: 1rem;
            }

            @media screen and (max-width: 768px) {
                margin-top: 2.5rem;
                max-width: 80%;
            }

            @media screen and (max-width: 600px) {
                max-width: 100%;
            }

            flex: 1;
            display: flex;
            padding: 0rem 1.75rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.75rem;
            box-sizing: border-box;

            .text {
                @media screen and (max-width: 960px) {
                    font-size: 1.125rem;
                }

                color: $black-1;
                font-size: 1.375rem;
                font-weight: 300;
                line-height: 1.5;

                span {
                    color: $blue-2
                }
            }

            .badge {
                @media screen and (max-width: 960px) {
                    width: 100%;
                    font-size: 1rem;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                    font-size: 1rem;
                }

                @media screen and (max-width: 380px) {
                    width: 100%;
                    font-size: .8rem;
                }

                background: linear-gradient(192.04deg, #EECB50 5.45%, #70D7E6 78.15%);
                font-family: var(--font-title);
                font-variation-settings: 'wdth'150;
                display: flex;
                padding: 0.75rem 0.5rem;
                justify-content: center;
                box-sizing: border-box;
                align-items: center;

                strong {
                    font-weight: 500;
                }

                span {
                    color: $blue-1
                }
            }
        }

    }
}

.join {
    display: flex;
    width: 100%;
    padding: 3.75rem 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: $blue-1;

    .title {
        color: $white-2;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.04rem;
    }
}