.faq {
    display: flex;
    width: 100%;
    padding: 3.75rem 8.75rem;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    box-sizing: border-box;

    .faq-item {
        width: 55%;
        border-bottom: 1px solid var(--Blue-Black, #030227);

        .active {

            .faq-title {
                color: $blue-1 !important;

                span {
                    color: $blue-3
                }
            }
        }

        .faq-header {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            padding: 0.625rem 0rem;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;



            .action {
                cursor: pointer;

                &:hover {
                    opacity: .6;
                }
            }

            .faq-title {
                color: $black-2;
                font-size: 1.375rem;
                font-weight: 400;
                line-height: 1.5;


            }


        }

        .faq-body {
            font-family: var(--font-text);
            width: 100%;
            display: flex;
            padding: 1.75rem 0rem;
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.75rem;

            .grid {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;

                .grid-item {
                    padding: 1.25rem;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1.5rem;

                    .grid-title {
                        font-family: var(--font-title);
                        font-variation-settings: 'wdth'150;
                        font-size: 1.25rem;
                        line-height: 1.2;
                        font-weight: 400;
                    }

                    .grid-content {
                        font-size: 0.8125rem;
                        text-align: justify;
                        font-weight: 1.5;
                        font-weight: 400;
                    }
                }

                .grid-1 {
                    grid-area: 1 / 1 / 2 / 2;
                    background: $blue-1;
                    color: $white-2
                }

                .grid-2 {
                    grid-area: 1 / 2 / 2 / 4;
                    background: $blue-3;
                }

                .grid-3 {
                    grid-area: 2 / 1 / 3 / 3;
                    background: $golden-1;
                }

                .grid-4 {
                    grid-area: 3 / 1 / 4 / 2;
                    background: $blue-3;
                }

                .grid-5 {
                    color: $white-2;
                    grid-area: 3 / 2 / 4 / 3;
                    background-color: $blue-1;
                }

                .grid-6 {
                    grid-area: 2 / 3 / 4 / 4;
                    background-color: $golden-1;
                }
            }

            .row {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: flex-start;
                gap: 1.5rem;

                img {
                    width: 15rem;
                }

                .badge {
                    min-width: 10.875rem;
                }
            }

            .quotation {
                display: flex;
                padding: 1.25rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.75rem;
                width: 100%;
                box-sizing: border-box;
                background-color: $golden-1;
                position: relative;

                .quotation-title {
                    font-family: var(--font-title);
                    font-variation-settings: 'wdth'150;
                    font-weight: 400;
                    z-index: 2;
                    font-size: 1rem;
                }

                img {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.25rem;
                    top: 0.625rem;
                    left: 0;
                    z-index: 0;
                }
            }

            .paragraph {
                font-variation-settings: 'wdth'25 'slnt'-10;
                display: block;
                color: #030227;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                white-space: auto;
            }
        }
    }

    .banner {
        font-family: var(--font-title);
        font-variation-settings: 'wdth'150;
        display: flex;
        width: 100%;
        padding: 3.75rem 8.75rem;
        justify-content: center;
        background-color: $golden-1;
        align-items: center;
        color: $blue-1;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.04rem;

        .text {
            max-width: 62.5%;

            a {
                text-decoration: underline;
                margin: 0 1rem;
            }
        }

    }

}