.socioverse {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    gap: 5rem;
    width: 100%;
    padding: 3.75rem 10%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 960px) {
        padding: 2.5rem 1rem;
    }

    .text {

        @media screen and (max-width: 960px) {
            width: 100%;
            gap: 1rem;
        }

        display: flex;
        width: 42%;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.125rem;
        flex-shrink: 0;

        .content {

            @media screen and (max-width: 640px) {
                font-size: 1.125rem;
            }

            color: $black-1;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .img {
        @media screen and (max-width: 1280px) {
            height: auto;
            width: 45%;
        }

        @media screen and (max-width: 960px) {
            display: none;
        }

        width: 28.125rem;
        height: 28.125rem;
        flex-shrink: 0;
    }
}

.philosophy {
    display: flex;
    width: 100%;
    padding: 3.75rem 10%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;

    @media screen and (max-width: 960px) {
        padding: 2.5rem 1rem;
        gap: 1.5rem
    }

    .items {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap: 3.125rem;

        @media screen and (max-width: 960px) {
            gap: 1.5rem;
        }

        @media screen and (max-width: 640px) {
            flex-direction: column;
            gap: 1.5rem;
        }

        .item {
            @media screen and (max-width: 1440px) {
                width: 50%;
                gap: 1.5rem;
            }

            @media screen and (max-width: 640px) {
                width: 100%;
                gap: 1.5rem;
                align-items: center;
                height: auto;
            }

            display: flex;
            width: 38%;
            height: 30rem;
            gap: 3rem;
            padding: 2rem;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .header {
                background: transparent;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-weight: 400;
                gap: 1.5rem;

                .title {
                    width: 100%;
                    @media screen and (max-width: 768px) {
                        font-size: 1.5rem;
                    }

                    @media screen and (max-width:640px) {
                        text-align: center;
                    }

                    font-weight: 400;
                    color: $blue-1;
                    font-size: 2rem;
                    line-height: 1.5;
                }

                .sub {
                    @media screen and (max-width: 768px) {
                        font-size: 1.125rem;
                    }

                    @media screen and (max-width:640px) {
                        text-align: center;
                    }

                    font-weight: 300;
                    color: $black-1;
                    font-size: 1.5rem;
                    line-height: 1.5;
                }
            }

            .icon {
                @media screen and (max-width: 960px) {
                    height: 7rem;
                }

                @media screen and (max-width: 640px) {
                    height: 5rem;
                }

                height: 10rem;
            }
        }

        .item-1 .header .title {
            color: $white-2;
        }

        .item-1 .header .sub {
            color: $white-2;
        }
    }
}