// Core colors
$blue-1: #1A16B8 !default;
$blue-2: #1C68F3 !default;
$blue-3: #55B8FF !default;
$blue-4: #70D7E6 !default;
$golden-1: #EECB50 !default;
$white-1: #FFF9F2 !default;
$white-2: #FFFFFF !default;
$black-1: #030227 !default;
$black-2: #141414 !default;
$gray-1: #6a6a6a !default;
